{% extends 'base.html.twig' %}

{% block title %}TaskList{% endblock %}

{% block body %}
    <h1>TaskList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task_list.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ task_list.name }}</td>
            </tr>
            <tr>
                <th>CreatedTime</th>
                <td>{{ task_list.createdTime ? task_list.createdTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedTime</th>
                <td>{{ task_list.updatedTime ? task_list.updatedTime|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('task_list_index') }}">back to list</a>

    <a href="{{ path('task_list_edit', {'id': task_list.id}) }}">edit</a>

    {{ include('task_list/_delete_form.html.twig') }}
{% endblock %}
