{% extends 'base.html.twig' %}

{% block title %}TaskList index{% endblock %}

{% block body %}
    <h1>TaskList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedTime</th>
                <th>UpdatedTime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task_list in task_lists %}
            <tr>
                <td>{{ task_list.id }}</td>
                <td>{{ task_list.name }}</td>
                <td>{{ task_list.createdTime ? task_list.createdTime|date('H:i:s') : '' }}</td>
                <td>{{ task_list.updatedTime ? task_list.updatedTime|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('tasklist_show', {'id': task_list.id}) }}">show</a>
                    <a href="{{ path('tasklist_edit', {'id': task_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tasklist_new') }}">Create new</a>
{% endblock %}
